@model IEnumerable<Proyecto.Models.Lavado>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duracion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    ₡ @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @(item.Duracion) minutos
                </td>
                <td>
                    @(item.Estado ? "Activo" : "Inactivo")
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> 

                </td>
            </tr>
        }
    </tbody>
</table>
