@model Proyecto.Models.Cita

@{
    ViewData["Title"] = "Agendar Cita";
}

<h2>@ViewData["Title"]</h2>

@using (Html.BeginForm("Create", "Cita", FormMethod.Post, new { @class = "form" }))
{
    <div class="form-group d-flex flex-column" style="gap: 5px">
        <label asp-for="TipoAuto"></label>
        <select asp-for="TipoAuto" class="form-control">
            @foreach (var ta in Enum.GetValues(typeof(Proyecto.Models.TiposAuto)))
            {
                <option value="@ta">@ta</option>
            }
        </select>
        <span asp-validation-for="TipoAuto" class="text-danger"></span>
    </div>
    <div class="form-group d-flex flex-column" style="gap: 5px">
        <label asp-for="Fecha"></label>
        <input type="date" asp-for="Fecha" min="@DateTime.Now.ToString("yyyy-MM-dd")" id="Fecha" class="form-control" onchange="getAvailableTimes(null);">
        <span asp-validation-for="Fecha" class="text-danger"></span>
    </div>
    <div class="form-group d-flex flex-column">
        <label asp-for="Hora"></label>
        <select class="form-control" asp-for="Hora" id="Hora" style="display: none;"></select>
        <span id="HoraError" class="text-danger">No hay horas disponibles para este día</span>
        <span asp-validation-for="Hora" class="text-danger"></span>
    </div>
    <div class="form-group mt-3">
        <input type="submit" class="btn btn-success" id="Guardar" disabled value="Guardar" />
    </div>
}

@section Scripts {
    <script>
        function getAvailableTimes(selectedTime) {
            $("#HoraError").hide();
            $("#Guardar").prop("disabled",true);
            $.ajax({
                url: "/Cita/AvailableTimes",
                type: "GET",
                dataType: "json",
                data: { date: $("#Fecha").val() },
                success: function (response) {
                    $("#Hora").empty();
                    if (response['times'].length == 0) {
                        $("#Hora").hide();
                        $("#HoraError").show();
                    }
                    else {
                        $("#Hora").show();
                        $("#Guardar").prop("disabled",false);
                    }
                    response['times'].forEach(time => {
                        $("#Hora").append(new Option(time, time));
                    });
                    if (selectedTime != null){
                        $("#Hora").val(selectedTime);
                    }
                },
                error: function (xhr, status, error) {
                    console.error(error);
                    $("#HoraError").show();
                    $("#Guardar").prop("disabled",true);
                }
            });
        }
        $(document).ready(function () {
            getAvailableTimes("@Model.Hora.ToString("h:mm tt")");
        });
    </script>
}