@using CoreLibrary.Auth
@using System.Security.Claims
@using CoreLibrary.Models;
@model CoreLibrary.Models.Cita;

@{
    ViewData["Title"] = "Cita";
}

<h2>@ViewData["Title"]</h2>

<b>@Html.DisplayNameFor(model => model.Id)</b>

<p>@Model.Id</p>

<b>@Html.DisplayNameFor(model => model.Estado)</b> <br>

@if (RoleHelper.EsAdmin(User))
{
    @using (Html.BeginForm("CambiarEstado", "Cita", FormMethod.Post, new { @class = "form" }))
    {
        <input type="hidden" name="id" value="@Model.Id">
        <select asp-for="Estado" name="Estado" onchange="this.form.submit()" class="form-control">
            @foreach (var estado in Enum.GetValues(typeof(EstadoCita)))
            {
                <option value="@estado">@estado</option>
            }
        </select>
    }
}
else
{
    <p>@Model.Estado</p>
}

<hr>

<h3>Vehiculo</h3>

<b>@Html.DisplayNameFor(model => model.Vehiculo.Placa)</b>

<p>@Model.Vehiculo.Placa</p>

<b>@Html.DisplayNameFor(model => model.Vehiculo.Modelo)</b>

<p>@Model.Vehiculo.Modelo</p>

<b>@Html.DisplayNameFor(model => model.Vehiculo.Marca)</b>

<p>@Model.Vehiculo.Marca</p>

<b>@Html.DisplayNameFor(model => model.Vehiculo.Tipo)</b>

<p>@Model.Vehiculo.Tipo</p>

<b>@Html.DisplayNameFor(model => model.Vehiculo.Color)</b>

<p>@Model.Vehiculo.Color</p>

<hr>

@if (Model.Cliente != null)
{
    <h3>Usuario</h3>

    <b>@Html.DisplayNameFor(model => model.Cliente.NombreCompleto)</b>

    <p>@Model.Cliente.NombreCompleto</p>

    <b>@Html.DisplayNameFor(model => model.Cliente.Telefono)</b>

    <p>@Model.Cliente.Telefono</p>

    <b>@Html.DisplayNameFor(model => model.Cliente.Correo)</b>

    <p>@Model.Cliente.Correo</p>
}

<hr>

@if (Model.CitasServicios.Count > 0)
{
    <h3>Servicio</h3>
    
    <b>@Html.DisplayNameFor(model => model.CitasServicios.First().Servicio.Nombre)</b>

    <p>@Model.CitasServicios.First().Servicio.Nombre</p>

    <b>@Html.DisplayNameFor(model => model.CitasServicios.First().Servicio.Descripcion)</b>

    <p>@Model.CitasServicios.First().Servicio.Descripcion</p>

    <b>@Html.DisplayNameFor(model => model.CitasServicios.First().Servicio.Precio)</b>

    <p>@Model.CitasServicios.First().Servicio.Precio</p>

    <b>@Html.DisplayNameFor(model => model.CitasServicios.First().Servicio.Duracion)</b>

    <p>@Model.CitasServicios.First().Servicio.Duracion</p>
}